{% extends 'myexpense/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container d-flex flex-column">
    <div class="row my-5">
        <div class="col-md-6 offset-3">
            <div class="card bg-warning">
                <h1 class="text-center">AddExpense</h1>
                <div class="card-body">
                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form%}
                        <div class="d-flex justify-content-between">
                            <button type="reset" class="btn btn-secondary">Reset</button>
                            <button type="submit" class="btn btn-primary">Add Expense</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}